body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.heartbeat img {
    width: 200px; /* Adjust size as needed */
    animation: pump 1s infinite;
}

@keyframes pump {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Adjust scale for pump effect */
    }
}
